.footer__top
    .container
        .footer__top-wrapper
            .footer__text
                .footer__title Interested to work with our team?
                p.footer__descr.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                                do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Ut enim ad minim veniam.
            a.footer__btn Let’s Talk
hr.footer__hr
.footer__bottom
    .container
        ul.footer__info
            p.footer__info-item.item-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            a(href="tel=6281273134321" class="footer__info-item item-tel") +62-812-7313-4321
            a.footer__info-item.item-mail hello.afrian@gmail.com
        p.footer__co 2019 © Afrianska. All rights reserved.