section.projects
    .container
        h2.projects__title Our Finished Project
        p.projects__text.
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt utlabore et dolore magna aliqua.
                        Ut enim ad minim veniam.
        .projects__items
            .projects__item-long.long
                .long__title Smart Home Installation
            .projects__items-short.short
                .short__item.short__item-left
                    .short__title Sparklite App
                .short__item.short__item-right
                    .short__title Car-Rapetition App
