section.contact
        .contact__banner
            .container
                h1.contact__title Contact Us
                p.contact__text.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .contact__form
            .container.contact__form-wrapper
                .contact__form-left
                    .contact__img
                        img(src="img/contact/contact-img.svg")
                    .contact__address
                        .contact__address-title ADDRESS
                        p.contact__address-text Id convallis placerat sit sed duis id amet volutpat quam a, pharetra.
                    .contact__phones
                        .contact__phones-title PHONE
                        a(class="contact__tel" href="tel:6281273134321") +62-812-7313-4321
                        a(class="contact__tel" href="tel:628170001234") +62-817-000-1234
                    .contact__service
                        .contact__service-title ONLINE SERVICE
                        a(class="contact__service-link contact__service-link--ww" href="www.afrianska.com") www.afrianska.com
                        a(class="contact__service-link contact__service-link--email") hello.afrian@gmail.com
                .contact__form-right
                    form.main__form
                        p.form__title SEND US MESSAGE
                        label(for='name' class="form__name-label")
                            b.form__name Full name
                        input(type='text' class="form__name-input" placeholder='Your Name' name='name' required='')
                        label(for='email' class="form__email-label")
                            b.form__email Email
                        input(type='text' class="form__email-input" placeholder='Your Email' name='email' required='')
                        label(for='message' class="form__textarea-label")
                            b.form__textarea-text Message
                        textarea(class="form__textarea" placeholder="Your Message" name='message')
                        input(class="form__submit" type='submit' value="SUBMIT")

        .contact__map
            .container
                .contact__map-wrapper
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2731.1092927656223!2d36.82618231597436!3d46.802152979139585!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zNDbCsDQ4JzA3LjgiTiAzNsKwNDknNDIuMSJF!5e0!3m2!1suk!2sua!4v1612733317103!5m2!1suk!2sua" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>