/* Vars:
  ========================================================================== */

// Font
$mainFont: 'Roboto', sans-serif;

// Size
$black: #000000;
$mainFontSize: 16px;
$mainFontWeight: 400;
$mainLineHeight: 26px;

$desktopWidth: 1170px;
$smDesktopWidth: 1024px;
$tableWidth: 776px;
$smTableWidth: 640px;
$phoneWidth: 568px;
$smPhoneWidth: 343px;

// Main color
$default-color: #ffffff;
$title-text: #1F3F68;
$semi-text: rgba(31,63,104, 0.6);
$lightblue-button: #5a98d0;
$main-blue: #316099;

// Neutral Color
$neutral-primary: #303133;

// Border Color
$border-base: #dcdfe6;
$border-light: #e4e7ed;
$border-lighter: #ebeef5;
$border-lightex: #f2f6fc;
