header.header
  .container
    ul.header__list
      li.header__item
        a.header__link(href="index.html")
          img(src="img/main/header/logo.png" class="header__logo")
      li.header__item
        a.header__link(href="contact.html")
          img(src="img/main/header/contact.svg" class="header__contact")
    