header.header
    .container
        ul.header__list
            li.header__item
                a.header__link(href="index.html")
                    img(src="img/main/header/logo.png" class="header__logo")
            li.header__item
                a.header__link(href="#")
                    img(src="img/main/header/burger-menu.svg" class="header__contact")
