.footer__top
    .container
        .footer__top-wrapper
            .footer__text
                .footer__title Interested to work with our team?
                p.footer__descr.
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam.
            a.footer__btn Let’s Talk
hr.footer__hr
.footer__bottom
    .container
        .footer__bottom-wrapper
            .footer__logo-wrapper
                .footer__logo
                    img(class="footer__logo-img" src="img/main/footer/footer-logo.png")
                    a(class="footer__logo-text" href="index.html") Afrianska
                ul.footer__info.footer__main
                    p.footer__info-item.footer__main-item.item-text.item-text-footer Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    a(href="tel=6281273134321" class="footer__info-item footer__main-item item-tel") +62-812-7313-4321
                    a.footer__info-item.footer__main-item.item-mail hello.afrian@gmail.com
            nav.footer__nav
                .footer__nav-list
                    .footer__nav-title About US
                    ul.footer__site-items
                        li.footer__site-item
                            a(class="footer__site-link" href="#") About
                        li.footer__site-item
                            a(class="footer__site-link" href="#") What We Do
                        li.footer__site-item
                            a(class="footer__site-link" href="#") Project
                        li.footer__site-item
                            a(class="footer__site-link" href="#") How It Work With Us
            .footer__social
                .footer__social-title Follow US
                ul.footer__social-items
                    li.footer__social-item
                        a(class="footer__social-link" href="#") Instagram
                    li.footer__social-item
                        a(class="footer__social-link" href="#") Facebook
                    li.footer__social-item
                        a(class="footer__social-link" href="#") LinkedIn
                    li.footer__social-item
                        a(class="footer__social-link" href="#") Youtube
        .footer__co 2019 © Afrianska. All rights reserved.